<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApP63UncClE-Pa3uagsMrZX3WkuFdp6M8</string>
	<key>GCM_SENDER_ID</key>
	<string>160289552483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gitbit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projects-aca8f</string>
	<key>STORAGE_BUCKET</key>
	<string>projects-aca8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160289552483:ios:77729c53ea310287cca056</string>
</dict>
</plist>