
:root{
   --darkGray : #0F0F0F;
  /* --navyBlue : #010512; */

  --backgroundColor : #08041b;
  /* --backgroundColor : #11696a; */

  /* --backgroundColor : #0F0F0F; */
  --neonButtonBackground : #09b399;
  --buttonBackground : #08041b;
  --whiteText : rgb(199, 199, 199);
  --tealGreen : #005B41;
  --darkCyan : #008170;
  --navyBlue : #010512;
}

body{
  margin: 0;
  /* background-image: url("C:\Users\vibgi\OneDrive\Desktop\MLH_WorkFlow\src\assets\Untitled design.png"); */
  background-color: #050211;
  overflow-x: hidden;
}

a
{
  text-decoration: none;
}

.navbar
{
  width: 200vh;
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  margin-bottom: -4vh;
  border-bottom: 1px solid rgba(78, 77, 77, 0.242);
}

.navbar>h2
{
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  display: flex;
  font-weight: 400;
  line-height: 32px;
  margin-top: 1vh;
}

.navbar>h2>span
{
  margin-top: 3vh;
}


#typing
{
  opacity: 100%;
  background-color: rgb(28, 25, 44) ;
  display: flex;
  align-items: center;
  margin-top: 3.5vh;
  height: 6.5vh;
  border-radius: 8px;
  width: 90vh;
}

#LPSignIn
{
  background-color: var(--backgroundColor);
  border-color: white;
  color: white;
  margin-top: 3.5vh;
  margin-right: -20vh;
  height: 6.5vh;
  width: 12vh;
  border-radius: 8px;
}

#LPSignUp
{
  /* background-color: var(--darkCyan); */
  background-color: var(--neonButtonBackground);
  border-color: var(--buttonBackground);
  color: #000000;
  margin-top: 3.5vh;
  height: 6.5vh;
  width: 24vh;
  font-weight: 600;
  border-radius: 8px;
}

#LPSignUp:hover
{
  background-color: var(--backgroundColor);
  color: white;
}


.hero
{
  font-size: 5vh;
  font-family: 'Inter', sans-serif;
  color: var(--whiteText);
  padding-left: 40vh;
}
#text1
{
  font-size: 6vh;
  width: 140vh;
  margin-left: 17vh;
  margin-bottom: -5vh;
}
.text
{
  width: 140vh;
  background-image: linear-gradient(to left , #09b399 , #3c346e , #09b399 , rgb(9, 29, 91));
  font-family: 'Inter', sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all .45s cubic-bezier(.47,1.64,.41,.8);
  animation: text-animate 5s linear infinite;
  -webkit-background-size : 500%;
}


@keyframes text-animate{
  0%{
    background-position: 0 100%;
  }
  50%{
    background-position: 100% 0;
  }
  100%{
    background-position: 0 100%;
  }
}

.tagDiv
{
  margin-left: 52vh;
  margin-top: 5vh;
  width: 26vh;
  position: relative;
  border-radius: 20px;
  padding: 1px;
  background-image: linear-gradient(to left , rgb(9, 29, 91) , #09b399 , #3c346e , #09b399);
  transition: all .45s cubic-bezier(.47,1.64,.41,.8);
  animation: text-animate 5s linear infinite;
  -webkit-background-size : 500%;
  background-size: 500%;
}

.tagLine
{
  margin: 0.2vh;
  border-radius: 20px;
  background-color: var(--backgroundColor);
  font-size: 2vh;
  font-weight: 400;
  color: white;
  padding: 1vh;
}

.hero>p
{
  font-size: 2.6vh;
  margin-top: -3vh;
  margin-left: 43vh;
  z-index: 2 !important;
  position: relative;
}

.textSlider
{
  display: none;
}

.active-Popup
{
  overflow-y: hidden;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.popUp, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.popUp-content1 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--backgroundColor);
  padding: 2vh 5vh;
  border-radius: 3vh;
  max-width: 2000px;
  min-width: 300px;
  z-index: 4;
}

/* .popUp-content2 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 15px;
  max-width: 2000px;
  min-width: 300px;
  z-index: 4;
} */
.popUP-content-div1 > div
{
  display: flex;
  height: 55vh;
  padding-top: 10vh;
  width: 72vh;
}

.popUP-content-div1 > div > img
{
  height: 18vh;
  width: 19vh;
  margin-left: 8vh;
  margin-top: 8vh;
  border-radius: 100%;
}

.popUP-content-div1 > div > h1
{
  margin-left: 2vh;
  margin-top: 10vh;
  letter-spacing: 0.5vh;
  font-size: 10vh;
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
}

.popUP-content-div1 > h2
{
    padding-top: 4vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.popUP-content-div1 > aside
{
  display: flex;
  padding-bottom: 2vh;
}

.popUP-content-div1 > aside > p
{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Manrope', sans-serif;
}

.popUP-content-div1 > aside > span
{
  color: white;
  margin-top: 2.2vh;
  padding-left: 1vh;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.popUP-content-div1 > aside > span:before
{
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 100%;
  height: 2px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgb(0,0,0) 45%, rgba(0,0,0, 0.3) 55%);
  background-size: 220% 100%;
  background-position: 100% 50%;
  transition: .3s ease-out;
}

.popUP-content-div2
{
  width: 72vh;
  background-color: var(--backgroundColor);
}

.popUP-content-div2 > h2
{
  margin-top: 6vh;
  margin-left: 5vh;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-weight: lighter; */
}
.popUP-content-div2 > div
{
  margin-top: 6vh;
  margin-left: 5vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  color: white;
}

.threeD
{
  margin-top: -15vh;
}

.button
{
  margin-top: 10vh;
  margin-left: 94vh;
}
#getStarted
{
  font-family: 'Inter', sans-serif;
  background-color: #09b399;
  border-color: var(--backgroundColor);
  color: #000000;
  height: 160px;
  width: 160px;
  font-size: 3vh;
  font-weight: 900;
  border-radius: 50%;
}


/**************************************** SECTION 2 FEATURED *********************************************/
.featured
{
  background-color: rgba(255, 255, 255, 0.05);
  width: 95%;
  border-radius: 20px;
  margin: auto;
  margin-top: -15vh;
  height: inherit;
  margin-bottom: 10vh;
}


.featured > div >  h1
{
  font-size: 10vh;
  width: 140vh;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to left , #09b399 , #3c346e , #09b399 , rgb(9, 29, 91));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all .45s cubic-bezier(.47,1.64,.41,.8);
  animation: text-animate 5s linear infinite;
  -webkit-background-size : 500%;
  background-size: 500%;
  color:#008170;
  padding: 5vh;
}


.featured > div >  p
{
  width: 180vh;
  margin: auto;
  font-size: 2.8vh;
  color: var(--whiteText);
  line-height: 4vh;
  font-family: 'Inter', sans-serif;
}

#p2
{
  width: 150vh;
  margin: auto;
}

/* .BigText
{
  margin-top: -30vh;
  font-size: 30vh;
  letter-spacing: 9vh;
  font-family: 'Pixelify Sans', sans-serif;
  color: var(--whiteText);
  padding-left: 23vh;
} */

.ag-format-container {
  width: 1442px;
  margin: 0vh auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: rgb(8, 4, 27) ;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  
  z-index: 2;
  position: relative;
}
.ag-courses-item_date > ul
{
  margin-top: -4vh;
  font-weight: 400;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: var(--whiteText);
  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -85px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #11696a;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.openSourced
{
  width: 190vh;
  margin: auto;
  display: block;
}

.openSourced > h1
{
  margin-top: 20vh;
  color: var(--whiteText);
  font-family: 'Inter', sans-serif;
  font-size: 8vh;
}

.openSourced > h1 > span
{
  color: #09b399;
}

.openSourced > div > p
{
  color: var(--whiteText);
  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-size: 3vh;
}

.openSourced > div
{
  display: flex;
  flex-direction: row;
}

.GitHubGLobe
{
  width: 120vh;
  height: 40vh;
  margin-left: 40vh;
  margin-top: -50vh;
}

.app
{
  padding: 2vh;
  margin-top: 20vh;
  color: var(--whiteText);
  font-family: 'Manrope', sans-serif;
  background-image: url("V:\VIBHOR's PC\MLH\LandingPage\src\assets\mobile.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 140vh;
}

.app > h1
{
  font-size: 8vh;
}

.app > p
{
  font-size: 3.5vh;
  width: 140vh;
}

.download
{
  width: auto;
  padding-left: 3.5vh; 
}

 /***************************************** FOOTER DIV *************************************************/

